<ion-view>
   <ion-header-bar align-title="center" class="bar-positive customer-header">
      <div class="buttons">
         <button class="button"><i class="ion-navicon-round"></i></button>
      </div>
      <h1 class="title"><img src="logo.png" class="logo"> Scale</h1>
      <div class="buttons">
         <button class="button"><i class="ion-gear-b"></i></button>
      </div>
   </ion-header-bar>
   <ion-content>
      <div class="row">
         <div class="col-xs-12 p-t-10">
            <h3 class="text-center welcome-text">Welcome back, email@gmail.com</h3>
            <p class="text-center">Your location <i class="fa fa-map-marker fa-lg text-primary"></i> Sector 8 Noida</p>
            <div class="checkin-circle" ng-click="customer.checkIn()">
                <div class="col-md-12 col-xs-12 checin-text">Check <br> In!</div>
            </div>
        </div>
      </div>
   </ion-content>
</ion-view>