<ion-view>
   <ion-content scroll="false">
      <div id="loginContainer">
         <div class="loginFormHead">
            <h3>Sign In</h3>
         </div>
         <div class="list list-inset">
            <label class="item item-input">
            	<input type="text" placeholder="Email or Mobile" ng-model="data.email">
            </label>
            <label class="item item-input">
            	<input type="password" placeholder="Password" ng-model="data.password">
            </label>
         </div>
         <div class="col-xs-12">
            <div class="col-xs-6">
               <input type="checkbox"> <span class="loginUserTypeText"><i class="fa fa-user"></i> User</span>
            </div>
            <div class="col-xs-6">
               <input type="checkbox"> <span class="loginUserTypeText"><i class="fa fa-building"></i> Business</span>
            </div>
            <div class="col-xs-12 no-pad-left-right">
               <button class="btn btn-block btn-lg btn-primary signIn" ng-click="login.signIn()">Sign In</button>	
            </div>
            <div class="col-xs-12 no-pad-left-right">
               <div class="text-center m-t-15 m-b-15">
                  <small class="font-18">Forgot password?</small>
               </div>
               <div class="row-margin">
                  <div class="col-xs-4 border-grey"></div>
                  <div class="col-xs-4 margin-top-or text-center">
                     Or
                  </div>
                  <div class="col-xs-4 border-grey"></div>
               </div>
               <button type="submit" class="btn btn-lg btn-primary btn-width btn-facebook"><i class="fa fa-facebook fa-float-left"></i>Login with Facebook</button>
               <button type="submit" class="btn btn-lg btn-danger btn-width btn-google"><i class="fa fa-google-plus fa-float-left"></i>Login with Google</button>
               <div class="text-center m-t-15 m-b-15">
                  <small class="font-18">
                  <u>Don't have an account? Sign Up Here</u>
                  </small>
               </div>
               <div class="text-center m-t-15 m-b-15">
                  <small class="font-18">
                  <u>Are You a Business?</u>
                  </small>
               </div>
            </div>
         </div>
      </div>
   </ion-content>
</ion-view>